celer==0.7.2
ipywidgets==8.0.4
joblib==1.2.0
jupyterlab==3.6.1
matplotlib==3.6.3
munch==2.5.0
networkx==3.0
neural-tangents==0.6.1
numba==0.56.4
numpy==1.23.5
openpyxl==3.1.0
pandarallel==1.6.4
pandas==1.5.3
parse==1.19.0
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
tqdm==4.64.1
tqdm-joblib==0.0.2